*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
@media all and (min-width: 769px) and (max-width: 7800px) 
{
     /** DISPOSITIVOS ORDENADOR **/
    /************ CSS DE LA CABECERA ********/
    #areaSesion{
        float: left;
        margin-top: 0px;
        width: 100%;
        height: 50px;
        background-color:  rgba(0, 0, 19, 0.89);
        text-align: center;
        box-shadow: rgb(150,150,150) inset 2px 2px 10px 5px;
        text-align: right;
        color: rgb(235, 0, 0);
    }
    #bienvenido{
        float: right;
        font-size: medium;
        background-color: transparent;
        text-align: right;
        color:  rgb(180, 0, 0);
        margin-top: 8px;
        margin-right: 20px;
        width: 100%;
        height: 20px;
    }
    #cerrarSesion{
        float: right;
        background-color: transparent;
        text-align: center;
        font-size: 60%;
        margin-top: 3px;
        color:  rgb(180, 0, 0);
        width: 120px;
        height: 20px;
        text-decoration: none;
    }
    #cabeceraPrincipal
    {
        width: 100%;
        height: 310px;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoEmpresa{
            float: left;
            position: relative;
            width: 350px;   /*ICONO CUADRADO*/
            height: 100px;
            box-shadow: rgb(150,150,150) 1px -5px 10px 10px;
            background-image: url("../007_MenuPrincipal/images/Sfer4D-IconoEmpresa.jpg");
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        #iconoAdorno{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 100px;
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        .VaciobotonesPrincipal{
            float: left;
            position: relative;
            width: 100%;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 19, 0.89);
            box-shadow: rgb(150,150,150) 5px 5px 10px 10px;
        }
        .LlenobotonesPrincipal{
            width: 450px;
            height: 60px;
            padding-bottom: 5px;
        }
        .bloque_opciones{
            margin-left: 20%;
            margin-top: 10px;
            float: left;
            width: 60%;
            height: 50px;
            background-color:  rgba(0, 0, 19, 0.89);
            text-align: center;
            font-size: medium;
            border-radius: 10px;
            box-shadow: rgb(150,150,150) 5px 5px 20px 10px;
        }
        #cajaBotonera
        {
            width: 50%;
            height: 100px;
        }
        #tabla{
            float: left;
            width:100%;
        }
    /*********** FIN CSS DE LA CABECERA ********/

     /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/
    #elecciones{
        margin-left:45%;
    }
    .consulta{
        position: relative;
        width: 100%;
        height: 720px;
        background-color: rgba(0, 0, 19, 0.89);
        text-align: center;
        text-shadow: 5px;
        text-justify: kashida;
        padding-top: 20px;
    }
    #imagenPortada{
        position: relative;
        margin-top: -15px;
        width: 100%;
        height: 100%;
    }
    .tablaAcciones{
        position:absolute;
        margin-top: 50px;
        margin-left: 20%;
        padding-left: 30px;
        padding-right: 20px;
        width: 500px;
        height: 330px;
        background-color: rgba(26, 26, 68, 0.89);
        box-shadow: rgb(235, 0, 0) 5px 5px 20px 10px;
        z-index: 1;
    }
    .tablaAcciones:hover{
        /*AL PASAR POR ENCIMA CAMBIA DE COLOR EL BORDE*/
        box-shadow: rgb(121, 0, 0) 5px 5px 20px 10px;
    }
    .celda{
        float: left;
        font-size: medium;
        color: rgb(235, 0, 0);
        width: 480px;
        height:10px;
        text-align:left;
        margin-top: 12px;
        z-index: 1;
    }
    .celdas{
        float:right;
        width: 350px;
        height:12px;
        background-color: white;
        z-index: 1;
    }
    .boton{
        float: left;
        margin-top: 25px;
        margin-left: 20px;
        width: 100px;
        height: 25px;
        background-color: rgb(255, 255, 255);
        z-index: 1;
    }
    .separacion{
        height: 12px;
        z-index: 1;
    }
    .desplegable{
        float:right;
        width: 358px;
        height:18px;
        background-color: white;
        z-index: 1;
    }

    /****** FIN CSS DEL CUERPO DE LA PAGINA ******/

     /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        position:relative;
        margin-top: -15px;
        width:100%;
        height: 160px;
        background-color: rgba(0, 0, 0, 0.87);
        color: rgb(235, 0, 0);
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        background-color:  rgba(0, 0, 19, 0.89);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:small;
        text-align: center;
    }
    .pie
    {
        width: 100%;
        height: 32px;
        background-color:  rgba(0, 0, 19, 0.89); 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:small;
        text-align: center; 
    }
}
@media all and (min-width: 481px) and (max-width: 768px) 
{
      /** DISPOSITIVOS ORDENADOR **/
    /************ CSS DE LA CABECERA ********/
    #areaSesion{
        float: left;
        margin-top: 0px;
        width: 100%;
        height: 50px;
        background-color:  rgba(0, 0, 19, 0.89);
        text-align: center;
        box-shadow: rgb(150,150,150) inset 2px 2px 10px 5px;
        text-align: right;
        color: rgb(235, 0, 0);
    }
    #bienvenido{
        float: right;
        font-size: small;
        background-color: transparent;
        text-align: right;
        color:  rgb(180, 0, 0);
        margin-top: 8px;
        margin-right: 20px;
        width: 100%;
        height: 20px;
    }
    #cerrarSesion{
        float: right;
        background-color: transparent;
        text-align: center;
        font-size: 60%;
        color:  rgb(180, 0, 0);
        width: 120px;
        height: 20px;
        text-decoration: none;
    }
    #cabeceraPrincipal
    {
        width: 100%;
        height: 310px;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoEmpresa{
            float: left;
            position: relative;
            width: 300px;   /*ICONO CUADRADO*/
            height: 80px;
            box-shadow: rgb(150,150,150) 1px -5px 10px 10px;
            background-image: url("../007_MenuPrincipal/images/Sfer4D-IconoEmpresa.jpg");
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        #iconoAdorno{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 80px;
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        .VaciobotonesPrincipal{
            float: left;
            position: relative;
            width: 100%;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 19, 0.89);
            box-shadow: rgb(150,150,150) 5px 5px 10px 10px;
        }
        .LlenobotonesPrincipal{
            width: 450px;
            height: 60px;
            padding-bottom: 5px;
        }
        .bloque_opciones{
            margin-left: 20%;
            margin-top: 10px;
            float: left;
            width: 60%;
            height: 50px;
            background-color:  rgba(0, 0, 19, 0.89);
            text-align: center;
            font-size: 70%;
            border-radius: 10px;
            box-shadow: rgb(150,150,150) 5px 5px 20px 10px;
        }
        #cajaBotonera
        {
            width: 50%;
            height: 100px;
        }
        #tabla{
            float: left;
            width:100%;
        }
    /*********** FIN CSS DE LA CABECERA ********/

     /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/
    #elecciones{
        margin-left:45%;
    }
    .consulta{
        position: relative;
        width: 100%;
        height: 720px;
        background-color: rgba(0, 0, 19, 0.89);
        text-align: center;
        text-shadow: 5px;
        text-justify: kashida;
        padding-top: 20px;
    }
    #imagenPortada{
        position: relative;
        margin-top: -37px;
        width: 100%;
        height: 100%;
    }
    .tablaAcciones{
        position:absolute;
        margin-top: 50px;
        margin-left: 17%;
        padding-left: 30px;
        padding-right: 20px;
        width: 300px;
        height: 570px;
        background-color: rgba(26, 26, 68, 0.89);
        box-shadow: rgb(235, 0, 0) 5px 5px 20px 10px;
        z-index: 1;
    }
    .tablaAcciones:hover{
        /*AL PASAR POR ENCIMA CAMBIA DE COLOR EL BORDE*/
        box-shadow: rgb(121, 0, 0) 5px 5px 20px 10px;
    }
    .celda{
        float: left;
        margin: 30px;
        font-size: medium;
        color: rgb(235, 0, 0);
        width: 260px;
        height:10px;
        text-align:left;
        margin-top: 12px;
        z-index: 1;
    }
    .celdas{
        float:left;
        margin: 5px;
        margin-left: 0px;
        width: 260px;
        height:12px;
        background-color: white;
        z-index: 1;
    }
    .boton{
        float: left;
        margin-top: 35px;
        margin-left: 26px;
        width: 100px;
        height: 25px;
        background-color: rgb(255, 255, 255);
        z-index: 1;
    }
    .separacion{
        height: 12px;
        z-index: 1;
    }
    .desplegable{
        float:left;
        margin: 10px;
        margin-left: 0px;
        width: 260px;
        height:18px;
        background-color: white;
        z-index: 1;
    }
    /*********** FIN CSS DEL CUERPO ********/

    /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        position:relative;
        margin-top: -35px;
        width:100%;
        height: 160px;
        background-color: rgba(0, 0, 0, 0.87);
        color: rgb(235, 0, 0);
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        background-color:  rgba(0, 0, 19, 0.89);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:small;
        text-align: center;
    }
    .pie
    {
        width: 100%;
        height: 32px;
        background-color:  rgba(0, 0, 19, 0.89); 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:small;
        text-align: center; 
    }
        /****** FIN CSS DEL PIE DE LA PAGINA ******/
}
@media all and (min-width: 300px) and (max-width: 480px)
{   
      /** DISPOSITIVOS ORDENADOR **/
    /************ CSS DE LA CABECERA ********/
    #areaSesion{
        float: right;
        margin-top: 0px;
        width: 100%;
        height: 50px;
        background-color:  rgba(0, 0, 19, 0.89);
        text-align: center;
        box-shadow: rgb(150,150,150) inset 2px 2px 10px 5px;
        text-align: right;
        color: rgb(235, 0, 0);
    }
    #bienvenido{
        float: right;
        font-size: small;
        background-color: transparent;
        text-align: right;
        color:  rgb(235, 0, 0);
        margin-top: 8px;
        margin-right: 20px;
        width: 100%;
        height: 20px;
    }
    #cerrarSesion{
        float: right;
        background-color: transparent;
        text-align: center;
        font-size: 60%;
        color:  rgb(235, 0, 0);
        width: 120px;
        height: 20px;
        text-decoration: none;
    }
    #cabeceraPrincipal
    {
        width: 100%;
        height: 310px;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoEmpresa{
            float: left;
            position: relative;
            width: 300px;   /*ICONO CUADRADO*/
            height: 80px;
            box-shadow: rgb(150,150,150) 1px -5px 10px 10px;
            background-image: url("../007_MenuPrincipal/images/Sfer4D-IconoEmpresa.jpg");
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        #iconoAdorno{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 80px;
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        .VaciobotonesPrincipal{
            float: left;
            position: relative;
            width: 100%;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 19, 0.89);
            box-shadow: rgb(150,150,150) 5px 5px 10px 10px;
        }
        .LlenobotonesPrincipal{
            width: 450px;
            height: 60px;
            padding-bottom: 5px;
        }
        .bloque_opciones{
            margin-left: 20%;
            margin-top: 10px;
            float: left;
            width: 60%;
            height: 50px;
            background-color:  rgba(0, 0, 19, 0.89);
            text-align: center;
            font-size: 40%;
            border-radius: 10px;
            box-shadow: rgb(150,150,150) 5px 5px 20px 10px;
        }
        #cajaBotonera
        {
            width: 50%;
            height: 100px;
        }
        #tabla{
            float: left;
            width:100%;
        }
    /*********** FIN CSS DE LA CABECERA ********/

     /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/
    #elecciones{
        margin-left:45%;
    }
    .consulta{
        width: 100%;
        height: 720px;
        background-color: rgba(0, 0, 19, 0.89);
        text-align: center;
        text-shadow: 5px;
        text-justify: kashida;
        padding-top: 20px;
    }
    #imagenPortada{
        margin-top: -37px;
        width: 100%;
        height: 100%;
    }
    .tablaAcciones{
        position:absolute;
        margin-top: 50px;
        margin-left: 5%;
        padding-left: 2px;
        padding-right: 20px;
        width: 240px;
        height: 570px;
        background-color: rgba(26, 26, 68, 0.89);
        box-shadow: rgb(235, 0, 0) 5px 5px 20px 10px;
        z-index: 1;
    }
    .tablaAcciones:hover{
        /*AL PASAR POR ENCIMA CAMBIA DE COLOR EL BORDE*/
        box-shadow: rgb(121, 0, 0) 5px 5px 20px 10px;
    }
    .celda{
        float: left;
        margin: 30px;
        font-size: medium;
        color: rgb(235, 0, 0);
        width: 200px;
        height:10px;
        text-align:left;
        margin-top: 12px;
        z-index: 1;
    }
    .celdas{
        float:left;
        margin: 5px;
        margin-left: 0px;
        width: 200px;
        height:12px;
        background-color: white;
        z-index: 1;
    }
    .boton{
        float: left;
        margin-top: 35px;
        margin-left: 26px;
        width: 100px;
        height: 25px;
        background-color: rgb(255, 255, 255);
        z-index: 1;
    }
    .separacion{
        height: 12px;
        z-index: 1;
    }
    .desplegable{
        float:left;
        margin: 10px;
        margin-left: 0px;
        width: 200px;
        height:18px;
        background-color: white;
        z-index: 1;
    }
    /****** FIN CSS DEL CUERPO DE LA PAGINA ******/

    /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        position:relative;
        margin-top: -35px;
        width:100%;
        height: 160px;
        background-color: rgba(0, 0, 0, 0.87);
        color: rgb(235, 0, 0);
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        background-color:  rgba(0, 0, 19, 0.89);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:small;
        text-align: center;
    }
    .pie
    {
        width: 100%;
        height: 32px;
        background-color:  rgba(0, 0, 19, 0.89); 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:small;
        text-align: center; 
    }
        /****** FIN CSS DEL PIE DE LA PAGINA ******/
}
@media all and (min-width: 100px) and (max-width:299px)
{
          /** DISPOSITIVOS ORDENADOR **/
    /************ CSS DE LA CABECERA ********/
    #areaSesion{
        float: right;
        margin-top: 0px;
        width: 100%;
        height: 50px;
        background-color:  rgba(0, 0, 19, 0.89);
        text-align: center;
        box-shadow: rgb(150,150,150) inset 2px 2px 10px 5px;
        text-align: right;
        color: rgb(235, 0, 0);
    }
    #bienvenido{
        float: right;
        font-size: small;
        background-color: transparent;
        text-align: right;
        color:  rgb(180, 0, 0);
        margin-top: 8px;
        margin-right: 20px;
        width: 100%;
        height: 20px;
    }
    #cerrarSesion{
        float: right;
        background-color: transparent;
        text-align: center;
        font-size: 60%;
        color:  rgb(180, 0, 0);
        width: 120px;
        height: 20px;
        text-decoration: none;
    }
    #cabeceraPrincipal
    {
        width: 100%;
        height: 310px;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoEmpresa{
            float: left;
            position: relative;
            width: 100%;   /*ICONO CUADRADO*/
            height: 100%;
            box-shadow: rgb(150,150,150) 1px -5px 10px 10px;
            background-image: url("../007_MenuPrincipal/images/Sfer4D-IconoEmpresa.jpg");
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        #iconoAdorno{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 80px;
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        .VaciobotonesPrincipal{
            float: left;
            position: relative;
            width: 100%;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 19, 0.89);
            box-shadow: rgb(150,150,150) 5px 5px 10px 10px;
        }
        .LlenobotonesPrincipal{
            width: 450px;
            height: 60px;
            padding-bottom: 5px;
        }
        .bloque_opciones{
            margin-left: 20%;
            margin-top: 10px;
            float: left;
            width: 60%;
            height: 50px;
            background-color:  rgba(0, 0, 19, 0.89);
            text-align: center;
            font-size: 20%;
            border-radius: 10px;
            box-shadow: rgb(150,150,150) 5px 5px 20px 10px;
        }
        #cajaBotonera
        {
            width: 50%;
            height: 100px;
        }
        #tabla{
            float: left;
            width:100%;
        }
    /*********** FIN CSS DE LA CABECERA ********/

     /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/
    #elecciones{
        margin-left:45%;
    }
    .consulta{
        width: 100%;
        height: 720px;
        background-color: rgba(0, 0, 19, 0.89);
        text-align: center;
        text-shadow: 5px;
        text-justify: kashida;
        padding-top: 20px;
    }
    #imagenPortada{
        margin-top: -37px;
        width: 100%;
        height: 100%;
    }
    .tablaAcciones{
        position:absolute;
        margin-top: 50px;
        margin-left: 5%;
        padding-left: 2px;
        padding-right: 20px;
        width: 180px;
        height: 570px;
        background-color: rgba(26, 26, 68, 0.89);
        box-shadow: rgb(235, 0, 0) 5px 5px 20px 10px;
        z-index: 1;
    }
    .tablaAcciones:hover{
        /*AL PASAR POR ENCIMA CAMBIA DE COLOR EL BORDE*/
        box-shadow: rgb(121, 0, 0) 5px 5px 20px 10px;
    }
    .celda{
        float: left;
        margin: 30px;
        font-size: xx-small;
        color: rgb(235, 0, 0);
        width: 100px;
        height:10px;
        text-align:left;
        margin-top: 12px;
        z-index: 1;
    }
    .celdas{
        float:left;
        margin: 5px;
        margin-left: 0px;
        font-size: xx-small;
        width: 140px;
        height:12px;
        background-color: white;
        z-index: 1;
    }
    .boton{
        float: left;
        margin-top: 35px;
        margin-left: 26px;
        width: 140px;
        height: 25px;
        background-color: rgb(255, 255, 255);
        z-index: 1;
    }
    .separacion{
        height: 12px;
        z-index: 1;
    }
    .desplegable{
        float:left;
        margin: 10px;
        margin-left: 0px;
        font-size: xx-small;
        width: 140px;
        height:18px;
        background-color: white;
        z-index: 1;
    }
    /****** FIN CSS DEL CUERPO DE LA PAGINA ******/

    /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        position:relative;
        margin-top: -35px;
        width:100%;
        height: 160px;
        background-color: rgba(0, 0, 0, 0.87);
        color: rgb(235, 0, 0);
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        background-color:  rgba(0, 0, 19, 0.89);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:xx-small;
        text-align: center;
    }
    .pie
    {
        width: 100%;
        height: 32px;
        background-color:  rgba(0, 0, 19, 0.89); 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:xx-small;
        text-align: center; 
    }
        /****** FIN CSS DEL PIE DE LA PAGINA ******/
}