#tablaPaginacion{
    position: relative;
    margin-top: 25px;
    margin-left: 10%;
    width: 20px;
    height: 100px;
}
#tablaPaginacion:hover{
    /*AL PASAR POR ENCIMA CAMBIA DE COLOR EL BORDE*/
    box-shadow: rgb(85, 3, 105) 5px 5px 20px 10px;
}
.accionamientos:hover{
    box-shadow: rgb(162, 10, 223) 5px 5px 20px 10px;
}

.cajaT{
    background-color: rgb(75, 1, 97);
    text-align: center;
    color: rgb(255, 255, 255);
    float: left;
    width: 150px;
    height: 20px;
    margin-left: 1px;
    margin-right: 1px;
}
.caja{
    float: left;
    background-color:rgb(161, 119, 189);
    text-align: center;
    width: 150px;
    height: 20px;
    margin-left: 1px;
    margin-right: 1px;
}
.mencion{
    background-color: rgb(129, 9, 184);
    width: 180px;
    margin-left: 11%;
    text-align: center;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
}