*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
@media all and (min-width: 769px) and (max-width: 7800px) 
{
     /** DISPOSITIVOS ORDENADOR **/
    /************ CSS DE LA CABECERA ********/
    #cabeceraPrincipal
    {
        width: 100%;
        height: 165px;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoAdorno{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 100px;
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        .VaciobotonesPrincipal{
            float: left;
            position: relative;
            width: 100%;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 19, 0.89);
            box-shadow: rgb(150,150,150) 5px 5px 10px 10px;
        }
        .areaPrivada{ 
            float:right;
            margin-right: 20px; 
            margin-top:-60px; 
        }
        .areaPrivada:nth-child(2){ 
            float:right;
            margin-right: 90px; 
            margin-top:-60px; 
        }
        .bloque_opciones{
            position: relative;
            padding-top: 10px;
            float: left;
            width: 16.5%;
            height: 30px;
            background-color:  rgba(0, 0, 19, 0.89);
            text-align: center;
            font-size: medium;
        }
        #cajaBotonera
        {
            width: 50%;
            height: 100px;
        }
        #tabla{
            float: left;
            width:100%;
        }
    /*********** FIN CSS DE LA CABECERA ********/
     /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/
    .consulta
    {
        position: relative;
        width: 100%;
        height: 2100px;
        background-color: rgba(0, 0, 19, 0.89);
        text-align: center;
        text-shadow: 5px;
        text-justify: kashida;
        padding-top: 20px;
    }
    /**********************************************/
    /* MOSTRADOR DE VENTAS AL PÚBLICO TECNOLÓGICO */
    /**********************************************/
        .seccionPrincipal{
            margin-top: 40px;
            padding-left: 13%;
            width:100%;
            height: 1200px;
            border: 2px;
            border-style: solid;
            border-color:rgba(79, 80, 3, 0.87);
            background-color: rgba(2, 1, 46, 0.425);
        }
    /****** FIN CSS DEL CUERPO DE LA PAGINA ******/

     /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        position:relative;
        margin-top: 0px;
        width:100%;
        height: 160px;
        background-color: rgba(0, 0, 0, 0.87);
        color: yellow;
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        background-color:  rgba(0, 0, 19, 0.89);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:small;
        text-align: center;
    }
    .pie
    {
        width: 100%;
        height: 32px;
        background-color:  rgba(0, 0, 19, 0.89); 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:small;
        text-align: center; 
    }
}
@media all and (min-width: 481px) and (max-width: 769px) 
{
      /** DISPOSITIVOS ORDENADOR **/
    /************ CSS DE LA CABECERA ********/
    #cabeceraPrincipal
    {
        width: 100%;
        height: 165px;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoAdorno{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 100px;
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        .VaciobotonesPrincipal{
            float: left;
            position: relative;
            width: 100%;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 19, 0.89);
            box-shadow: rgb(150,150,150) 5px 5px 10px 10px;
        }
        .areaPrivada{
            float:right;
            margin-right: 20px; 
            margin-top:-60px; 
        }
        .areaPrivada:nth-child(2){ 
            float:right;
            margin-right: 80px; 
            margin-top:-60px; 
        }
        .bloque_opciones{
            position: relative;
            padding-top: 10px;
            float: left;
            width: 16.5%;
            height: 30px;
            background-color:  rgba(0, 0, 19, 0.89);
            text-align: center;
            font-size: small;
        }
        #cajaBotonera
        {
            width: 50%;
            height: 100px;
        }
        #tabla{
            float: left;
            width:100%;
        }
    /*********** FIN CSS DE LA CABECERA ********/

     /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/
    .consulta{
        position: relative;
        width: 100%;
        height: 2100px;
        background-color: rgba(0, 0, 19, 0.89);
        text-align: center;
        text-shadow: 5px;
        text-justify: kashida;
        padding-top: 20px;
    }
    /**********************************************/
    /* MOSTRADOR DE VENTAS AL PÚBLICO TECNOLÓGICO */
    /**********************************************/
    .seccionPrincipal{
        margin-top: 40px;
        padding-left: 13%;
        width:100%;
        height: 1200px;
        border: 2px;
        border-style: solid;
        border-color:rgba(79, 80, 3, 0.87);
        background-color: rgba(2, 1, 46, 0.425);
    }
    /*********** FIN CSS DEL CUERPO ********/

    /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        position:relative;
        margin-top: -35px;
        width:100%;
        height: 160px;
        background-color: rgba(0, 0, 0, 0.87);
        color: yellow;
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        background-color:  rgba(0, 0, 19, 0.89);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:small;
        text-align: center;
    }
    .pie
    {
        width: 100%;
        height: 32px;
        background-color:  rgba(0, 0, 19, 0.89); 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:small;
        text-align: center; 
    }
        /****** FIN CSS DEL PIE DE LA PAGINA ******/
}
@media all and (min-width: 300px) and (max-width: 481px)
{   
      /** DISPOSITIVOS ORDENADOR **/
    /************ CSS DE LA CABECERA ********/
    #cabeceraPrincipal
    {
        width: 100%;
        height: 280px;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoAdorno{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 80px;
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        #iconoEmpresa{
            float: left;
            width: 200px;   /*ICONO CUADRADO*/
            height: 80px;   
        }
        .VaciobotonesPrincipal{
            float: left;
            position: relative;
            width: 100%;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 39, 0.89);
        }
        .areaPrivada{
            float:right;
            margin-right: 5px; 
            margin-top:-60px; 
        }
        .areaPrivada:nth-child(2){ 
            float:right;
            margin-right: 50px; 
            margin-top:-60px; 
        }
        .bloque_opciones{
            position: relative;
            padding-top: 10px;
            padding-bottom: 5px;
            float: left;
            width: 100%;
            height: 15px;
            background-color:  rgba(0, 0, 19, 0.89);
            text-align: center;
            font-size: small;
        }
        #cajaBotonera
        {
            width: 50%;
            height: 100px;
        }
        #tabla
        {
            float: left;
            width:100%;
        }
    /*********** FIN CSS DE LA CABECERA ********/

     /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/
    .consulta{
        width: 100%;
        height: 2950px;
        background-color: rgba(0, 0, 19, 0.89);
        text-align: center;
        text-shadow: 5px;
        text-justify: kashida;
        padding-top: 20px;
    }
     /**********************************************/
    /* MOSTRADOR DE VENTAS AL PÚBLICO TECNOLÓGICO */
    /**********************************************/
    .seccionPrincipal{
        margin-top: 40px;
        padding-left: 3%;
        width:100%;
        height: 1200px;
        border: 2px;
        border-style: solid;
        border-color:rgba(79, 80, 3, 0.87);
        background-color: rgba(2, 1, 46, 0.425);
    }
    /****** FIN CSS DEL CUERPO DE LA PAGINA ******/

    /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        position:relative;
        margin-top: -35px;
        width:100%;
        height: 160px;
        background-color: rgba(0, 0, 0, 0.87);
        color: yellow;
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        background-color:  rgba(0, 0, 19, 0.89);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:small;
        text-align: center;
    }
    .pie
    {
        width: 100%;
        height: 32px;
        background-color:  rgba(0, 0, 19, 0.89); 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:small;
        text-align: center; 
    }
        /****** FIN CSS DEL PIE DE LA PAGINA ******/
}
@media all and (min-width: 100px) and (max-width:299px)
{
          /** DISPOSITIVOS ORDENADOR **/
    /************ CSS DE LA CABECERA ********/
    #cabeceraPrincipal
    {
        width: 100%;
        height: 145px;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoAdorno{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 140px;
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        #iconoEmpresa{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 80px;   
        }
        .VaciobotonesPrincipal{
            float: left;
            position: relative;
            width: 100%;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 39, 0.89);
        }
        .areaPrivada{
            float:right;
            margin-right: 15%; 
            margin-top: -55px;
        }
        .areaPrivada:nth-child(2){ 
            float:right;
            margin-right: 60%; 
            margin-top: -55px; 
        }
        .bloque_opciones{
            position: relative;
            padding-top: 10px;
            padding-bottom: 5px;
            float: left;
            width: 100%;
            height: 15px;
            background-color:  rgba(0, 0, 19, 0.89);
            text-align: center;
            font-size: x-small;
        }
        #cajaBotonera
        {
            width: 50%;
            height: 100px;
        }
        #tabla{
            float: left;
            width:100%;
        }
    /*********** FIN CSS DE LA CABECERA ********/

     /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/
    .consulta{
        width: 100%;
        height: 3100px;
        background-color: rgba(0, 0, 19, 0.89);
        text-align: center;
        text-shadow: 5px;
        text-justify: kashida;
        padding-top: 20px;
    }
    /**********************************************/
    /* MOSTRADOR DE VENTAS AL PÚBLICO TECNOLÓGICO */
    /**********************************************/
    .seccionPrincipal{
        margin-top: 240px;
        padding-left: 3%;
        width:100%;
        height: 1200px;
        border: 2px;
        border-style: solid;
        border-color:rgba(79, 80, 3, 0.87);
        background-color: rgba(2, 1, 46, 0.425);
    }
    /****** FIN CSS DEL CUERPO DE LA PAGINA ******/

    /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        position:relative;
        margin-top: -35px;
        width:100%;
        height: 160px;
        background-color: rgba(0, 0, 0, 0.87);
        color: yellow;
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        background-color:  rgba(0, 0, 19, 0.89);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:xx-small;
        text-align: center;
    }
    .pie
    {
        width: 100%;
        height: 32px;
        background-color:  rgba(0, 0, 19, 0.89); 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:xx-small;
        text-align: center; 
    }
        /****** FIN CSS DEL PIE DE LA PAGINA ******/
}