*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
@media all and (min-width: 769px) and (max-width: 7800px) 
{
     /** DISPOSITIVOS ORDENADOR **/
    /************ CSS DE LA CABECERA ********/
    #cabeceraPrincipal
    {
        width: 100%;
        height: 500px;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoAdorno{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 100px;
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        .VaciobotonesPrincipal{
            float: left;
            position: absolute;
            width: 100%;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 19, 0.89);
            box-shadow: rgb(150,150,150) 5px 5px 10px 10px;
        }
    /*********** FIN CSS DE LA CABECERA ********/

     /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/
    #imagenPortada{
        position: relative;
        width: 100%;
        height: 100%;
    }
    #formularioLogin{
        position: absolute;
        text-align: center;
        margin-top: 90px;
        margin-left:-35%;
        padding-left: 25px;
        font-size: large;
        padding-top: 20px;
        color: rgb(204, 0, 255);
        width:310px; 
        height:150px; 
        background-color:rgba(0, 0, 19, 0.89);
        z-index: 1;
    }
    .izq{
        text-align: left;
    }
    .logear{
        margin-top: 10px;
        background-color: rgba(0, 0, 46, 0.89);
        text-align: center;
        color: rgb(204, 0, 255);
    }
    /****** FIN CSS DEL CUERPO DE LA PAGINA ******/

     /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        position:relative;
        margin-top: -15px;
        width:100%;
        height: 160px;
        background-color: rgba(0, 0, 0, 0.87);
        color: rgb(204, 0, 255);
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        background-color:  rgba(0, 0, 19, 0.89);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:small;
        text-align: center;
    }
    .pie
    {
        width: 100%;
        height: 32px;
        background-color:  rgba(0, 0, 19, 0.89); 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:small;
        text-align: center; 
    }
}
@media all and (min-width: 481px) and (max-width: 768px) 
{
      /** DISPOSITIVOS ORDENADOR **/
    /************ CSS DE LA CABECERA ********/
    #cabeceraPrincipal
    {
        width: 100%;
        height: 500px;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoAdorno{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 80px;
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        .VaciobotonesPrincipal{
            float: left;
            position: relative;
            width: 100%;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 19, 0.89);
            box-shadow: rgb(150,150,150) 5px 5px 10px 10px;
        }
    /*********** FIN CSS DE LA CABECERA ********/

     /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/
    #imagenPortada{
        position: relative;
        margin-top: -37px;
        width: 100%;
        height: 110%;
    }
    /****** FIN CSS DEL CUERPO DE LA PAGINA ******/

    /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        position:relative;
        width:100%;
        height: 160px;
        background-color: rgba(0, 0, 0, 0.87);
        color:rgb(204, 0, 255);
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        background-color:  rgba(0, 0, 19, 0.89);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:small;
        text-align: center;
    }
    .pie
    {
        width: 100%;
        height: 32px;
        background-color:  rgba(0, 0, 19, 0.89); 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:small;
        text-align: center; 
    }
        /****** FIN CSS DEL PIE DE LA PAGINA ******/
}
@media all and (min-width: 300px) and (max-width: 480px)
{   
      /** DISPOSITIVOS ORDENADOR **/
    /************ CSS DE LA CABECERA ********/
    #cabeceraPrincipal
    {
        width: 100%;
        height: 500px;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoAdorno{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 80px;
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        .VaciobotonesPrincipal{
            float: left;
            position: relative;
            width: 100%;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 19, 0.89);
            box-shadow: rgb(150,150,150) 5px 5px 10px 10px;
        }
    /*********** FIN CSS DE LA CABECERA ********/

     /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/
    #imagenPortada{
        margin-top: 0px;
        width: 100%;
        height: 100%;
    }
    /****** FIN CSS DEL CUERPO DE LA PAGINA ******/

    /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        position:relative;
        margin-top: -35px;
        width:100%;
        height: 160px;
        background-color: rgba(0, 0, 0, 0.87);
        color: rgb(204, 0, 255);
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        background-color:  rgba(0, 0, 19, 0.89);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:small;
        text-align: center;
    }
    .pie
    {
        width: 100%;
        height: 32px;
        background-color:  rgba(0, 0, 19, 0.89); 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:small;
        text-align: center; 
    }
        /****** FIN CSS DEL PIE DE LA PAGINA ******/
}
@media all and (min-width: 100px) and (max-width:299px)
{
          /** DISPOSITIVOS ORDENADOR **/
    /************ CSS DE LA CABECERA ********/
    #cabeceraPrincipal
    {
        width: 100%;
        height: 500px;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoAdorno{
            float: left;
            width: 100%;   /*ICONO CUADRADO*/
            height: 80px;
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        .VaciobotonesPrincipal{
            float: left;
            position: relative;
            width: 100%;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 19, 0.89);
            box-shadow: rgb(150,150,150) 5px 5px 10px 10px;
        }
    /*********** FIN CSS DE LA CABECERA ********/

     /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/
    #imagenPortada{
        margin-top: 0px;
        width: 100%;
        height: 100%;
    }
    /****** FIN CSS DEL CUERPO DE LA PAGINA ******/

    /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        position:relative;
        width:100%;
        height: 160px;
        background-color: rgba(0, 0, 0, 0.87);
        color: rgb(204, 0, 255);
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        background-color:  rgba(0, 0, 19, 0.89);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:xx-small;
        text-align: center;
    }
    .pie
    {
        width: 100%;
        height: 32px;
        background-color:  rgba(0, 0, 19, 0.89); 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:xx-small;
        text-align: center; 
    }
        /****** FIN CSS DEL PIE DE LA PAGINA ******/
}